//.kd-column-operate{
  .kd-column-operate__btn-item + .kd-column-operate__btn-item {
    margin-left: 8px;
  }

  .kd-column-operate__icon {
    color: var(--primary-color);
    cursor: pointer;
  }

  .kd-column-operate__dd-item {
    font-size: 12px!important;
    line-height: 32px!important;
    padding: 0 15px!important;
    height: 32px;
    color: #5e7ee5;

    &:not(.is-disabled):hover,
    &:focus {
      background-color: #ebeffc;
    }

    &.is-disabled {
      color: #bbb;
    }
  }

  .el-popover__reference-wrapper button {
    margin-left: 0;
  }

  // 隐藏按钮
  .kd-column-operate__hidden-text {
    color: transparent;
    border: 1px solid transparent;
  }
//}