$--primary-color:var(--primary-color);

.kd-column-action__btn-item {
  margin: 0;
  font-size: 12px !important;
  color: $--primary-color;
  text-align: center;
  font-weight:500;

  &.btn-hidden{
    color: transparent;
    cursor: default;
    pointer-events:none;
  }

  &:focus {
    color: $--primary-color;
    background-color: transparent;
  }

  &:hover {
    color: $--primary-color;
    background-color: transparent;
  }

  &.is-disabled {
    color:#c0c4cc!important;
    font-weight: 400;
    user-select: none;
  }
}

.kd-column-action__btn-item.no-dropdown + .kd-column-action__btn-item.no-dropdown {
  margin-left: 8px;
}

.kd-column-action__icon {
  color: $--primary-color;
  cursor: pointer;
}

.el-dropdown-menu--small.kd-column-action__dropdown-menu {
  min-width: auto;
  padding: 10px 0;
  margin-top:1px!important;
  .el-dropdown-menu__item {
    line-height: 32px;
    font-size: 12px;
    padding: 0 15px;
  }
}

.kd-column-action__content{
  font-size: 12px;
}
