.kd-daterange {
  display: inline-flex;
  width: 424px;
  vertical-align: top;
  .left_box {
    vertical-align: middle;
    position: relative;
    border: 1px solid #dcdfe6;
    border-right: 0 none;
    box-sizing: border-box;
    padding: 0 8px;
    white-space: nowrap;
    border-radius: 2px 0 0 2px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    background: #fff;
    color: rgba(39,48,75,.85);
  }
  // .el-date-editor {
  //   border-radius: 0 1px 1px 0;
  // }
  .right_box {
    flex-grow: 1;
    // display: inline-block;
  }
  
}