.el-dialog__title {
  font-weight: 500;
  font-size: 14px;
}
.el-dialog__header {
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 20px;
  color: var(--text-important-color);
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid var(--line-color);
  .el-dialog__headerbtn {
    top: 16px;
    font-size: 14px;
  }
}
.el-dialog__footer {
  padding: 13px;
  border-top: 1px solid var(--line-color);
}
.dialog_slot_box {
  max-height: 600px;
  overflow: auto;
}
.is-fullscreen .el-dialog__body {
  max-height: inherit;
  height: calc(100% - 170px);
}
.is-fullscreen .dialog_slot_box {
  max-height: 100%;
  overflow: auto;
}
.dialog_fullscreen__icon {
  right: 54px;
  top: 14px !important;
  color: #909399;
  text-align: right;
}

.kd-norm-dialog,
.kd-norm16-dialog {
  .el-dialog__title {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: rgba(39, 48, 75, 0.85);
    line-height: 20px;
  }
  .el-dialog__header {
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 24px;
    color: var(--text-important-color);
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #e3e6eb;
    .el-dialog__headerbtn {
      top: 16px;
      font-size: 14px;
    }
  }
  .el-dialog__body {
    padding: 24px 24px 11px;
  }
  .el-dialog__footer {
    padding: 13px;
    border-top: none;
  }
}
.kd-simple-dialog {
  .el-dialog__header {
    border-bottom: 1px solid transparent;
  }
  .el-dialog__footer {
    border-top: 1px solid transparent;
  }
  &.el-dialog{
    width: 360px;
  }
  .el-dialog__body{
    padding: 8px 20px;
  }
}

.kd-norm16-dialog {
  .el-dialog__body {
    padding: 16px 24px 11px;
  }
}
.hide-title-border {
  .el-dialog__header {
    border-bottom: 1px solid transparent;
  }
}
