.hide_btn_pop,
.btnlist {
  .el-button.txt_btn {
    margin-left: 6px;
    &.disabled {
      color: var(--disabled-color) !important;
      cursor: not-allowed;
    }
  }
  .iconfont_btn {
    margin-left: 6px;
    color: var(--primary-color);
    cursor: pointer;
    &.icon-shanchu {
      color: var(--shanchu-icon);
    }
    &.disabled {
      color: var(--disabled-color) !important;
      cursor: not-allowed;
    }
  }
}
.confirmbox {
  min-width: 150px;
  .el-popconfirm__main {
    padding: 8px 0;
  }
}
.linked {
  color: var(--primary-color);
  cursor: pointer;
}

.filter_table {
  .top_wrapper {
    display: flex !important;
    //align-items: center;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  // .tablewraper {
  //   margin-top: 16px;
  // }
  .searcharea {
    // margin-bottom: 8px;
    display: flex;
    // overflow-y: hidden;
    // height: 34px;
    width: 100%;
    transition: all 0.1s;
    .searchitems {
      // display: flex;
      // flex-wrap: wrap;
      // align-items: center;
      // width: 100%;
    }
    .operations {
      flex: auto;
    }
    .searchopers {
      // margin-left: 8px;
      align-items: flex-start;
    }
  }

  ::v-deep .el-table__column-filter-trigger i {
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
    margin-top: -2px;
  }
  .el-table__body-wrapper tbody tr:last-child td {
    border-bottom: 0 none;
  }
}
.filter_table .filter_active {
  height: unset;
  overflow: unset;
}
/*FilterTable通用表格*/
.filter_table {
  background: var(--bg-color);
}
.filter_table .el-table {
  border: 1px solid var(--table-border);
  // border-bottom: 0 none;
}
::v-deep .el-table--border .el-table__cell {
  border-right: 0 none;
}
::v-deep .el-table__fixed-right::before {
  height: 0;
  width: 0;
}
.filter_table .el-table tr.hover-row td {
  background-color: var(--table-tr-hover-bg) !important;
}
.filter_table .el-table td,
.filter_table .el-table th {
  height: 44px;
  line-height: 44px;
  padding: 0;
  font-size: 12px;
}
.filter_table .el-table th {
  position: relative;
  background-color: var(--table-th-bg);
  color: var(--table-th-color);
}
.filter_table .el-table td {
  height: 44px;
  line-height: 44px;
  color: var(--table-td-color);
  border-bottom: 1px solid var(--table-td-bottom-line);
}
.filter_table .el-table .is-left .cell {
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  line-height: inherit;
  white-space: nowrap;
}
.filter_table .el-table .is-center .cell {
  text-align: center;
  line-height: inherit;
  white-space: nowrap;
}
.filter_table .el-table:before {
  height: 0;
}
.filter_table .el-table:after {
  background-color: var(--table-row-hover);
}
.filter_table .el-table-row-highlight td,
.filter_table .el-table-row-hover td {
  background-color: var(--table-row-hover) !important;
}
.filter_table .el-table .el-table__header:hover th:not(:last-child):after {
  content: "\20";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 16px;
  width: 1px;
  height: 16px;
  background: var(--table-th-split-line);
}
.filter_table .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: var(--table-td-stripe-bg);
}
.filter_table .el-table .icon-zhankai {
  position: absolute;
  right: 0;
  top: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.filter_table .el-table tr.el-table__row.showall .icon-zhankai {
  transform: rotate(180deg);
}
.filter_table .el-table tr.el-table__row.showall .cell {
  white-space: normal;
}
.filter_table.showall .el-table tr.el-table__row .cell {
  white-space: normal !important;
}
.filter_table .el-table tbody tr td:last-child {
  position: relative;
}
.filter_table .operations {
  min-width: fit-content;
  padding-left: 10px;
}
.filter_table .operations .el-button:not(:last-child) {
  margin-right: 8px;
}
.filter_table .tab_pagination {
  display: inline-block;
  float: right;
  text-align: right;
  padding-right: 0;
  margin: 18px 0;
  font-size: 12px;
}
.filter_table .table_oper_box .disabled {
  color: var(--disabled-color) !important;
  cursor: not-allowed;
}
/* 这个样式解决的问题是：比如api详情页面，切换参数信息和测试信息的tab时，有时候表格宽度会变成0 */
.filter_table .iconfont_btn {
  margin-right: 8px;
}
.filter_table .link_a {
  cursor: pointer;
  color: var(--primary-color);
}
// 解决表格下拉筛选按钮被遮住一部分问题
.el-table-filter__bottom {
  position: relative;
  z-index: 1;
}

/* 这个样式解决的问题是：比如api详情页面，切换参数信息和测试信息的tab时，有时候表格宽度会变成0 */
.el-table table {
  min-width: 100%;
}

.search_btn {
  display: flex;
  align-items: baseline;
}
.popover_btn {
  > p {
    font-size: 12px;
  }
  .el-button--info {
    background-color: var(--btn-info);
    border-color: var(--btn-info);
    color: var(--text-color);
  }
  .el-button--info:focus,
  .el-button--info:hover {
    background-color: var(--btn-info);
    border-color: var(--btn-info);
    color: var(--text-color);
  }
}
.dropdown-item-custom{
  span{
    width: 100%;
    span{
      width: 100%;
      button{
        width: 100%;
      }
    }
  }
}
.el-table--border .el-table__cell{
  border-right: unset;
}
