$--font-path: 'fonts' !default;

@font-face {
  font-family: "kd-iconfont"; /* Project id 3359763 */
  src: url('#{$--font-path}/iconfont.woff?t=1663740299007') format('woff'),
  url('#{$--font-path}/iconfont.ttf?t=1663740299007') format('truetype');
}

[class*=" kd-icon-"], [class^=kd-icon-] {
  font-family: "kd-iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kd-icon-cangku:before {
  content: "\e658";
}

.kd-icon-yuangouxuanzhuangtai:before {
  content: "\e65b";
}

.kd-icon-geshihua:before {
  content: "\e659";
}

.kd-icon-yufajiancha:before {
  content: "\e65c";
}

.kd-icon-baocun:before {
  content: "\e66c";
}

.kd-icon-biao:before {
  content: "\e612";
}

.kd-icon-caret-down:before {
  content: "\e62a";
}

.kd-icon-caret-up:before {
  content: "\e62b";
}

.kd-icon-add:before {
  content: "\e62c";
}

.kd-icon-Checkbox-bufen:before {
  content: "\e62d";
}

.kd-icon-Checkbox-gouxuan:before {
  content: "\e62e";
}

.kd-icon-close-circle-filled:before {
  content: "\e62f";
}

.kd-icon-chevron-left:before {
  content: "\e631";
}

.kd-icon-error-circle-filled:before {
  content: "\e632";
}

.kd-icon-caret-left:before {
  content: "\e633";
}

.kd-icon-caret-right:before {
  content: "\e634";
}

.kd-icon-remove:before {
  content: "\e635";
}

.kd-icon-chevron-up:before {
  content: "\e636";
}

.kd-icon-help-circle-filled:before {
  content: "\e637";
}

.kd-icon-chevron-right:before {
  content: "\e638";
}

.kd-icon-chevron-down:before {
  content: "\e639";
}

.kd-icon-check-circle-filled:before {
  content: "\e63a";
}

.kd-icon-time-filled:before {
  content: "\e63b";
}

.kd-icon-help-circle:before {
  content: "\e63c";
}

.kd-icon-error-circle:before {
  content: "\e63d";
}

.kd-icon-xiangmu:before {
  content: "\e646";
}

.kd-icon-move:before {
  content: "\e640";
}

.kd-icon-shuju:before {
  content: "\e641";
}

.kd-icon-project_space:before {
  content: "\e642";
}

.kd-icon-download:before {
  content: "\e643";
}

.kd-icon-fullscreen-exit:before {
  content: "\e645";
}

.kd-icon-fullsreen:before {
  content: "\e647";
}

.kd-icon-file-copy:before {
  content: "\e644";
}

.kd-icon-play:before {
  content: "\e64c";
}

.kd-icon-zhuomianduan:before {
  content: "\e64d";
}

.kd-icon-minus:before {
  content: "\e650";
}

.kd-icon-add1:before {
  content: "\e651";
}

.kd-icon-huigun:before {
  content: "\e652";
}

.kd-icon-jishi:before {
  content: "\e6e3";
}

.kd-icon-shangxian:before {
  content: "\e656";
}

.kd-icon-tiaodurenwubanben:before {
  content: "\e657";
}

.kd-icon-huishouzhan:before {
  content: "\e6ec";
}

.kd-icon-jiekou:before {
  content: "\e6ee";
}

.kd-icon-pingtaiguanli:before {
  content: "\e63e";
}

.kd-icon-tongzhi:before {
  content: "\e63f";
}

.kd-icon-wendang:before {
  content: "\e648";
}

.kd-icon-yonghu:before {
  content: "\e649";
}

.kd-icon-shujutongbu:before {
  content: "\e64a";
}

.kd-icon-shujumoxing:before {
  content: "\e64b";
}

.kd-icon-wenjianjiazhankai:before {
  content: "\e65a";
}

.kd-icon-wenjianjia:before {
  content: "\e65d";
}

.kd-icon-xinjianwenjianjia:before {
  content: "\e660";
}

.kd-icon-ellipsis:before {
  content: "\e630";
}

.kd-icon-menu-fold:before {
  content: "\e64e";
}

.kd-icon-menu-unfold:before {
  content: "\e64f";
}

.kd-icon-search:before {
  content: "\e653";
}

.kd-icon-biaoqianguanli:before {
  content: "\e6cb";
}

.kd-icon-biaoqianzichan:before {
  content: "\e6cc";
}

.kd-icon-biaoqianpingtai:before {
  content: "\e6cd";
}

.kd-icon-shujuyuanguanli:before {
  content: "\e6ce";
}

.kd-icon-lixiantongbu:before {
  content: "\e654";
}

.kd-icon-shujuzhuti:before {
  content: "\e655";
}

.kd-icon-gailan:before {
  content: "\e65e";
}

.kd-icon-shujufenceng:before {
  content: "\e65f";
}

.kd-icon-shujucangku:before {
  content: "\e661";
}

.kd-icon-wenjiandaoru:before {
  content: "\e662";
}

.kd-icon-yewuxian:before {
  content: "\e663";
}

.kd-icon-renwufabu:before {
  content: "\e664";
}

.kd-icon-zhiliangguanli:before {
  content: "\e665";
}

.kd-icon-zhushujuguanli:before {
  content: "\e666";
}

.kd-icon-yunyingguanli1:before {
  content: "\e667";
}

.kd-icon-shujuyuanguanli1:before {
  content: "\e668";
}

.kd-icon-jichengguanli1:before {
  content: "\e669";
}

.kd-icon-shenpizhongxin:before {
  content: "\e66a";
}

.kd-icon-chaxunfenxi:before {
  content: "\e66b";
}

.kd-icon-shishitongbunav:before {
  content: "\e66d";
}

.kd-icon-gerenzhongxin:before {
  content: "\e66e";
}

.kd-icon-pandian:before {
  content: "\e6ef";
}

.kd-icon-guanxitu:before {
  content: "\e6f0";
}

.kd-icon-yuanshujucaiji:before {
  content: "\e6f3";
}

.kd-icon-shujubiao:before {
  content: "\e6f1";
}

.kd-icon-shujuzhuti1:before {
  content: "\e6f2";
}

.kd-icon-moxingguanxi:before {
  content: "\e6f5";
}

.kd-icon-gailan1:before {
  content: "\e6d8";
}

.kd-icon-yunwei:before {
  content: "\e6d9";
}

.kd-icon-caidan:before {
  content: "\e66f";
}

.kd-icon-yunhang:before {
  content: "\e670";
}

.kd-icon-dingyue:before {
  content: "\e671";
}

.kd-icon-houtui:before {
  content: "\e672";
}

.kd-icon-qianjin:before {
  content: "\e673";
}

.kd-icon-shujubiao1:before {
  content: "\e674";
}

.kd-icon-dongjie:before {
  content: "\e675";
}

.kd-icon-chaxunshezhi:before {
  content: "\e676";
}

.kd-icon-lixian:before {
  content: "\e677";
}

