.kd-job-tree {
  height: calc(100vh - 50px);
  font-size: 12px;
  .jt_operation {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 16px;
    border-bottom: 1px solid #e3e6eb;
    background: #fff;
    .iconfont {
      font-size: 16px;
      padding-right: 4px;
      cursor: pointer;
    }
    .jt_title {
      display: inline-block;
      font-size: 14px;
    }
    .jt_btns {
      float: right;
    }
  }
  .jt_search {
    padding: 16px 16px 8px 16px;
    font-size: 12px;
  }
  .jt_body {
    padding: 0 16px;
    .job_tree_node {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .left_txt_box {
        display: flex;
        height: 32px;
        line-height: 32px;
      }
    }
  }
  .has_all {
    height: calc(100% - 146px);
  }
  .has_title {
    height: calc(100% - 90px);
  }
  .has_search {
    height: calc(100% - 106px);
  }
  .el-tree-node__content {
    height: 32px;
    margin-bottom: 4px;
  }
  .el-tree-node__content:hover .right_icon_box {
    opacity: 1;
  }
  .right_icon_box {
    opacity: 0;
    font-size: 12px;
    padding-right: 8px;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    color: var(--primary-color);
  }
  .icon_box {
    i {
      margin-right: 6px;
    }
  }
  .is-current > .el-tree-node__content {
    //color: var(--blue);
    background: #f5f7fd !important;
  }
}
.disabled {
  color: var(--disabled-color) !important;
  cursor: not-allowed;
}
.el-dropdown-menu--small .el-dropdown-menu__item {
  line-height: 32px;
}
