.kd-job-tree {
  height: 100vh;
  font-size: 12px;
  .jt_operation {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 16px;
    border-bottom: 1px solid #e3e6eb;
    background: #fff;
    .iconfont {
      font-size: 16px;
      padding-right: 4px;
      cursor: pointer;
    }
    .jt_title {
      display: inline-block;
      font-size: 14px;
    }
    .jt_btns {
      float: right;
    }
  }
  .jt_search {
    position: relative;
    padding: 0 8px;
    height: 62px;
    line-height: 54px;
    font-size: 14px;
    border-bottom: 1px solid #e3e6eb;
  }
  .table_search {
    position: relative;
    height: 102px;
    line-height: 40px;
    padding: 10px 8px 15px;
    border-bottom: 1px solid #e3e6eb;
    ::v-deep .dbtable_ipt {
      top: -4px;
    }
    ::v-deep .el-select {
      width: 100%;
      margin-bottom: 3px;
    }
  }
  .jt_body {
    .job_tree_node {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .left_txt_box {
        display: flex;
        height: 26px;
        line-height: 26px;
      }
    }
  }
  .el-tree-node__content:hover .right_icon_box {
    display: inline-block;
  }
  .right_icon_box {
    display: none;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    font-weight: 500;
    color: #365edf;
  }
  .slot_box {
    margin-left: 8px;
  }
  .is-current > .el-tree-node__content {
    color: var(--blue);
    background: #f5f7fd !important;
  }
}
