.kd-page-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color);
  box-sizing: border-box;

  &.border-bottom {
    border-bottom: 1px solid var(--line-color);
  }

  .left{
    display: flex;
    justify-content: center;

    .title{
      font-size: 14px;
      font-weight: 500;
      color: var(--text-important-color);
      text-align: left;
    }
  }

  .right{
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

