.kd-select {
  display: inline-flex;
  width: 316px;
  .left_box {
    // background-color: #f5f7fa;
    background: #fff;
    vertical-align: middle;
    position: relative;
    border: 1px solid #dcdfe6;
    border-right: 0 none;
    padding: 0 8px;
    white-space: nowrap;
    border-radius: 2px 0 0 2px;
    align-items: center;
    // height: 30px;
    display: inline-block;
    // line-height: 30px;
    display: flex;
    justify-content: space-around;
    color: rgba(39,48,75,.85);
    font-size: 12px;
  }
  ::v-deep .el-input__inner {
    border-radius: 0px 2px 2px 0 !important;
  }
  .right_box {
    flex-grow: 1;
    display: inline-block;
  }
}

.kd-custom-multiple-checkbox.is-multiple .el-select-dropdown__item {
  &.selected::after {
    left: 21px;
    z-index: 10;
    width: 16px;
    height: 16px;
    background: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 2px;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    line-height: 16px;
    text-align: center;
  }
  .el-checkbox__inner {
    width: 16px;
    height: 16px;
  }
  &.selected .el-checkbox__label {
    color: var(--blue);
  }
  &.hover {
    background-color: #f5f7fd;
    border-radius: 1px;
  }
}
