.kd-simple-table-wrap {
  position: relative;

  //&.sticky-header{
  //  .el-table__header-wrapper thead.has-gutter{
  //    position:sticky;
  //    top:0;
  //  }
  //}

  .table-inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .kd-simple-table {
      // 表头部分样式
      .el-table__header {
        // 筛选列下箭头样式
        .el-icon-arrow-down {
          margin-left: 4px;

          &:before {
            font-size: 14px;
          }
        }
      }

      // 单元格样式
      .cell {
        padding: 0 16px;
        text-align: left;
        line-height: inherit;
        white-space: nowrap;
        // 更换可展开行图标为下三角
        .el-icon-arrow-right:before {
          content: '';
        }

        // 表格内表单样式覆盖
        .el-form-item__content {
          margin-left: 0 !important;

          .el-select {
            width: 100% !important;
          }
          .kd-select {
            width: 100% !important;
          }
        }

        .el-form-item {
          margin-bottom: 1px;

          .el-input {
            width: 100%;
          }
        }
      }
    }
  }

  &.no-border {
    .filter_table .el-table {
      border-style: none !important;
    }
    .page-inner {
      border-style: none !important;
    }
  }

  &.sticky-footer {
    .page-wrap {
      position: sticky;
      bottom: 0;
      box-shadow: 0 -2px 5px #000;
    }
  }

  .el-table__placeholder {
    width: 20px;
    margin-right: 3px;
  }

  //空数据时提示组件
  .el-table__empty-block {
    width: 100% !important;
  }

  //底部分页组件样式
  .kd-simple-table__page-wrap {
    background-color: #fff;
    display: block;
    .page-inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--table-border);
      border-top-style: none;
      padding: 0 24px;
      box-sizing: border-box;
      // 左侧total样式
      .left-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--text-color);
        font-size: 12px;
      }
      // 页码选择下拉样式圆角
      .el-pagination .el-select .el-input .el-input__inner {
        border-radius: 1px;
      }
    }
  }
}
