.kd-table-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;

  .el-button + .el-button {
    margin-left: 8px;
  }

  .kd-table-search_left-wrap {
    > .old-model-row {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      margin-bottom:-16px;
      > * {
        margin-right: 8px;
        margin-bottom: 16px;
      }
    }

    > .first-row {
      display: flex;
      align-items: center;
      > .input-wrap {
        display: flex;
        align-items: center;
        margin-right: 8px;
      }
    }
  }

  .kd-table-search_right-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .more-row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: height 0.2s;
    & > * {
      margin-right: 8px;
      margin-top: 16px;
    }
  }
}
