.kd-title {
  background: #fff;
  box-sizing: border-box;
  margin: 16px 0;
  .title {
    width: 100%;
    padding-left: 8px;
    height: 12px;
    line-height: 12px;
    position: relative;
    font-weight: 500;
    box-sizing: border-box;
    color: #333;
  }
  .title::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2px;
    height: 12px;
    z-index: 1;
    background-color: var(--lc, var(--primary-color)); // 左侧的竖条颜色
  }

  ::v-deep .el-input-group {
    width: 300px;
    margin-left: 8px;
  }
}
